.header-pages {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    top: 0;
    z-index: 3;
}
img {
    justify-self: center;
    width: auto;
    cursor: pointer;
}
