.salvar{
    background-image: url("/src/assets/done-button.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-color: white;
    border: white;
    cursor: pointer;
}
.cancelar{
    background-image: url("/src/assets/close-button.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-color: white;
    border: white;
    cursor: pointer;
}