header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 10px #d9d9d9;
  padding: 2vh;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
}

h1 {
  display: flex;
  align-self: center;
  font-size: 3vh;
}

.left-side {
  display: flex;
  gap: 2vh;
}

.right-side {
  display: flex;
  gap: 2vh;
  img {
    width: 5vh;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      animation: bounce 0.1s ease-in;
    }
  }
}
