.linha{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

tr.linha > td{
    padding: 10px;
}

.btn-action{
    display: flex;
}

.button-editar{
    background-image: url("/src/assets/edit-button.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-color: white;
    border: white;
    cursor: pointer;
}
.button-editar:hover{
    filter: opacity(50%);
}
.button-deletar{
    background-image: url("/src/assets/delete-button.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-color: white;
    border: white;
    cursor: pointer;
    margin-top: 5px;
}
.button-deletar:hover{
    filter: opacity(50%);
}