div.conteudo{
    height: auto;
}
.conteudo{
    border-radius: 20px;
    margin-left: 10px;
    width: 50vw;
    height: 100%;
    font-size: 1.5rem;
    flex-grow: 2;
}
div.conteudo-url{
    height: 100%;
    width: 100%;
}
iframe{
    width: 100% !important;
}