.conteudo-admin{
    position: absolute;
    left: 200px;
    width: 60vw;
    font-size: 1.3rem;
}
.tabela{
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}
.tabela-cabecalho{
    border-bottom: 1px solid gray;
    padding: 10px;
}
thead.tabela-cabecalho > tr > th{
    padding: 10px;
}
.app-container{
    padding: 20px;
    width: auto;
}
.add{
    margin-top: 50px;
    margin-bottom: 10px;
}
.btn-add{
    height: 4vh;
}
input{
    height: 4vh;
    margin-bottom: 10px;
    display: block;
}
nav.side-bar {
    width: 180px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
}
ul.opcoes > li:hover{
    width: 100%;
}
ul.opcoes > li > a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
