div.aulas{
    background-color: white;
    color: black;
    padding: 20px;
    border: 5px solid gray;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    width: 10%;
}
nav {
	margin:0 auto;
    width:100%;
    height:auto;
    display:inline-block;
    margin-bottom: 10px;
}
nav ul {
    margin:0;padding:0;
    list-style-type:none;
    display:inline-block;
}
nav ul li {
	position:relative;
	margin:0 20px 0 0;
    display:inline-block;
    background-color: white;
}
li > a:after { content: ' »'; }
li > a:only-child:after { content: ''; }
nav ul li a {
	padding:20px;
    display:inline-block;
    text-decoration:none;
}
nav ul li a:hover {
    opacity:0.5;
    background-color: black;
    color: white;
    width: 100%;
}
nav ul li ul {
    display:none;
    position:absolute;
    left:0;
    float:left;
    z-index: 20;
}
nav ul li ul li {
	width:100%;
}
nav ul li:hover ul {
    display:block;
}
div.aulas::-webkit-scrollbar-track{
    border-radius: 0 20px 20px 0;
    background-color: white;
}
div.aulas::-webkit-scrollbar{
    width: 6px;
}
div.aulas::-webkit-scrollbar-thumb{
    background-color: gray;
}
div.aulas > nav > ul > li > a{
    font-size: 1.5rem;
}